layout: index
description: Analyse your data live on the Web
subtitle: Explore relationships between your variables
cmd: pvpython -m paraview.apps.divvy --data ./disk_out_ref.ex2
comments: false
---

ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-download
      h3.intro-feature-title
        a(href="https://www.npmjs.com/package/pvw-divvy").link Releases
      p.intro-feature-desc
        | ParaView Divvy is available inside
        a(href="https://www.paraview.org/download/").link  ParaView
        |  and can be run via its Python environment (pvpython) using the command line listed above.

  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
          i.fa.fa-life-ring
      h3.intro-feature-title
        a(href="http://www.vtk.org/services/").link Support and Services
      p.intro-feature-desc Kitware offers advanced software R&D solutions and services. Find out how we can help with your next project.

  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-graduation-cap
      h3.intro-feature-title
        a(href="http://www.kitware.com/products/protraining.php").link Training Courses
      p.intro-feature-desc Attend an upcoming training course

  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-comments-o
      h3.intro-feature-title
        a(href="http://vtk.uservoice.com/forums/31508-general").link Request a Feature
      p.intro-feature-desc Tell us what you think

center
  img(style="margin: 0.5%", src="/divvy/screenshots/divvy-demo.jpg", width="90%")
